{% extends "layout.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add a Quote {{ super() }}{% endblock %}

{% block container %}

    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        <div class="col-md-12">
            {{ utils.flashed_messages(messages) }}
        </div>
    </div>
    {%- endif %}
    {%- endwith %}

    <h1>Add a Quote</h1>
    <p>Before submitting, please strip off any timestamps, trim useless parts, and remove trailing laughs.</p>
    <p>All HTML gets escaped before submission, so don't bother trying anything stupid. c:</p>
    <form class="form form-horizontal" method="post" role="form">
        {{ wtf.form_field(form.channel) }}
        {{ wtf.form_field(form.nick) }}
        {{ wtf.form_field(form.quote, rows=20) }}
        {{ wtf.form_field(form.recaptcha) }}
        <input type="submit" class="btn btn-info" value="Submit Quote">
    </form>

{% endblock %}