{% extends "layout.html" %}

{% block container %}
{% if channels or submitters %}
<div class="dropdown">

	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="channelDropDownMenu">
		Filter
		<span class="caret"></span>

	</button>

	<ul class="dropdown-menu" aria-labelledby="channelDropDownMenu">

		{% if channels %}
			<li class="dropdown-header">Channels</li>
			{% for chan in channels %}
				<li><a href="{{ url_for('show_quote_channel', channel=chan) }}">{{ chan }}</a></li>
			{% endfor %}
		{% endif %}

		{% if submitters %}
			<li class="dropdown-header">Submitters</li>
			{% for nick in submitters %}
				<li><a href="{{ url_for('show_quote_submitter', nick=nick) }}">{{ nick }}</a></li>
			{% endfor %}
		{% endif %}
	</ul>

</div>
<br>
{% endif %}

{% if criteria %}
	<div class="alert alert-info" role="alert">Showing quotes {{ criteria }}.</div>
{% endif %}

	<ul class="list-group">
	{% for quote in quotes %}
		<li class="list-group-item">
			<b>ID</b> <a href="{{ url_for('show_quote_id', quote_id=quote[0]) }}">{{ quote[0] }}</a> <b>
			from</b>: <a href="{{ url_for('show_quote_channel', channel=quote[1]) }}">{{ quote[1] }}</a> 
			<b>submitted by</b> <a href="{{ url_for('show_quote_submitter', nick=quote[2]) }}">{{ quote[2] }}</a> <b>on</b> {{ quote[3] }} UTC<br><pre>{{ quote[4] }}</pre>
		</li>
	{% else %}
		<h3>Unbelievable.  No quotes so far.</h3>
	{% endfor %}
	</ul>

{% endblock %}
